.list-group-item {
    width: 100%;
}

img.img-responsive {
    margin: 0 auto;
    width: 100%;
}

.good {
    background-color: darkgreen;
}

.my-music-group {
    display: none;
}

.dropdown-menu {
    cursor: pointer;
}

.hide-on-error,
#main-container {
    display: none;
}

.reload {
    display: none;
}

.rotated {
    animation: rotation 3s infinite;
}

@keyframes rotation {
    100% {transform: rotate(360deg);}
}

#no-connection h3 {
    display: inline;
    vertical-align: middle;
}